<!DOCTYPE html>
<html>

<head>
    <title>Relatório de convênios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <h4 style="margin-top: 10px; margin-bottom: 6px; text-align:center">Relatório de convênios</h4>
    <table class="striped">
        <thead>
            <tr>
                <th>Nome do convênio</th>
                <th>Tipo do convênio</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            {{#each convenios}}
            <tr>
                <td>{{NOME_CONVENIO}}</td>
                <td>{{TIPO_CONVENIO}}</td>
                <td>{{DDD}} {{NUMERO}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>